@import 'reset.css';

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 0 4px 0 lightgray;
}

header .logo {
    margin-left: 1em; 
}

header .search{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 1px solid lightgrey;
    border-radius: 2px;
}
header .search input {
    border: none;
    padding: .4em;
    font-size: 1.02rem;
}

header .mymenu {
    margin: 0 1em;
}

.login {
    border: 1px solid #065fd4;
    border-radius: 2px;
    padding: .4em .7em;
    color: #065fd4;
    display: flex;
    align-items: center;
    font-size: .9rem;
    width: 75px;
}

header .login img {
    margin-right: .4em;
}


.content {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: #f5f5f5;
    font-size: .9em;
    overflow-y: scroll;
    height: 92.5vh;
}

aside ul {
    padding: .8em 0;
    border-bottom: 1px solid #dfdfdf;
}

aside ul li {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
aside ul li img {
    padding: .6em 1.4em;
}
aside ul h3 {
    padding: .6em 1.4em;
    color: #6c6660;
}

.home {
    background: #dcdcdc;
}
.youtube {
    font-weight: 600;
}
.round {
    border-radius: 50%;
}
.induced {
    padding-left: 2em;
    padding-right: 2em;
}

.induced span {
    line-height: 1.4em;
}

.induced .login {
    margin-top: 1em;
}
.footer {
    font-size: .9em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    color: gray;
}
.footer li {
    padding-top: .6em;
    padding-bottom: .6em;
}
.footer span {
    padding: 0 .3em;
    line-height: 120%;
}
.copyright {
    margin-top: 1.2em;
}

section {
    margin: 20px 100px;
    flex-grow:1;
}

.ads {
    display: flex;
}
.ads .left {
    height: 250px;
    flex-grow: 3;
    background: gray;
}
.ads .right {
    margin-left: 5px;
    height: 250px;
    flex-grow: 2;
    background: gray;
}

.popular {
    margin: 20px 0;
    border-bottom: solid 1px lightgray;
}

.popular ul {
    display: flex;
    padding: 1em 0;
    flex-wrap: wrap;
}

.popular ul li {
    height: 200px;
    width: 220px;
    background: blue;
    margin-right: 5px;
}